#headerContent {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    min-height: 1.1em;
}

#headerContent {
    padding-top: 200px;
    color: #ff7f00;
    text-shadow: 1px 1px 1px #ff682e;
    text-align: right;
}

#header,
#emptyHeader {
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
}

#header,
#emptyHeader,
#nodeDecoration {
    height: auto!important;
    height: 400px;
    min-height: 400px;
    background-color: #ffffff;
    background-image: url("BannerLogo.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    border: 1px solid/*headerBorderColor*/
    #005883;
    background-size: cover;
}

#header,
#emptyHeader,
#nodeDecoration {
    padding: 0 20px;
    height: auto!important;
    height: 120px;
    min-height: 120px;
    font-size: 1.6em;
    font-weight: 300;
    border-style: 1px;
    border-width: 1px;
}


/************ 
//--------------------------------
// GENERAL
//-------------------------------
************/

body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    color: #666;
    background: #f2f2f2;
    font-size: 1em;
    line-height: 1.5em;
}

h1 {
    font-size: 2.3em;
    line-height: 1.3em;
    margin: 15px 0;
    text-align: center;
    font-weight: 300;
}

p {
    margin: 0 0 1.5em 0;
}

img {
    max-width: 100%;
    height: auto;
}


/************ 
//-------------------------------
// CABECERA
//-------------------------------
************/

#main-header {
    background: #005883;
    color: white;
    width: 100%;
    position: absolute;
}

#main-header a {
    color: white;
}


/*
 * Logo
 */

#logo-header {
    float: left;
    padding: 5px 0 0 20px;
    text-decoration: none;
}

#logo-header:hover {
    color: white;
}

#logo-header .site-name {
    display: block;
    font-weight: 700;
    font-size: 1.2em;
}

#logo-header .site-desc {
    display: block;
    font-weight: 300;
    font-size: 0.8em;
    color: white;
}


/*
 * Navegación
 */

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 50px;
}

nav ul li a {
    display: block;
    padding: 0 10px;
    text-decoration: none;
}

nav ul li a:hover {
    background: #005883;
}


/************ 
//------------------------------
// CONTENIDO
//------------------------------
************/

#main-content {
    background: white;
    width: 100%;
    max-width: 60em;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

#main-content header,
#main-content {
    padding: 7em;
    text-align: justify;
}


/************
//-----------------------------
// PIE PÁGINA
//-----------------------------
************/

#main-footer {
    background: #005883;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

#main-footer p {
    margin: 0;
}

#main-footer a {
    color: white;
}


/** MENU **/

ul#menu {
    background: #005883;
    width: 500px;
    float: left;
    padding: 5px;
}

ul#menu li {
    color: #fff;
    float: left;
    list-style: none;
    margin: 0% 5%;
}

ul#menu li:hover {
    color: #7db3cc;
    cursor: pointer;
}


/* ul#menu ul {
    display: none;
    position: absolute;
    top: 49px;
    background: #005fbf;
    color: #fff;
    padding: 5px 0px 5px 5px;
    margin: 0;
    } */

ul#menu ul {
    display: none;
    position: absolute;
    top: 49px;
    background: #005883;
    color: #fff;
    padding: 5px 0px 5px 5px;
    margin: 0;
    width: 25% !important;
}

ul#menu ul li {
    float: left;
    color: #fff;
    width: 80%;
    margin: 2% 0%;
}

ul#menu ul li a {
    color: #fff;
}

ul#menu ul li a:hover {
    color: #7db3cc;
    cursor: pointer;
}

ul#menu li:hover ul ul,
ul#menu li:hover ul ul ul,
ul#menu li.iehover ul ul,
ul#menu li.iehover ul ul ul {
    display: none;
    cursor: pointer;
}

ul#menu li:hover ul,
ul#menu ul li:hover ul,
ul#menu ul ul li:hover ul,
ul#menu li.iehover ul,
ul#menu ul li.iehover ul,
ul#menu ul ul li.iehover ul {
    display: block;
    cursor: pointer;
}


/*Fin del menu*/


/* Inicio del menu responsive*/

@media screen and (max-width:800px) {
    ul#menu {
        background: #005883;
        width: 500px;
        float: left;
        padding: 5px;
    }
    ul#menu li {
        color: #fff;
        float: left;
        list-style: none;
        margin: 0% 5%;
    }
    ul#menu li:hover {
        color: #7db3cc;
        cursor: pointer;
    }
    ul#menu ul {
        display: none;
        position: absolute;
        top: 100px;
        background: #005883;
        color: #fff;
        padding: 5px 0px 5px 5px;
        margin: 0;
        width: 60% !important;
    }
    ul#menu ul li {
        float: left;
        color: #fff;
        width: 80%;
        margin: 2% 0%;
    }
    ul#menu ul li a {
        color: #fff;
    }
    ul#menu ul li a:hover {
        color: #7db3cc;
        cursor: pointer;
    }
    ul#menu li:hover ul ul,
    ul#menu li:hover ul ul ul,
    ul#menu li.iehover ul ul,
    ul#menu li.iehover ul ul ul {
        display: none;
        cursor: pointer;
    }
    ul#menu li:hover ul,
    ul#menu ul li:hover ul,
    ul#menu ul ul li:hover ul,
    ul#menu li.iehover ul,
    ul#menu ul li.iehover ul,
    ul#menu ul ul li.iehover ul {
        display: block;
        cursor: pointer;
    }
}


/*Fin del menu responsive*/

.logoTecnologia {
    margin: 1% 25% auto;
}

.video1 {
    margin: 0px auto;
    width: 100%;
    height: 365px;
}

.video2 {
    margin: 0px auto;
    width: 100%;
    height: 365px;
}

.lectura1 {
    margin: 0px auto;
}


/* btn Redes Sociales */

.social {
    position: fixed;
    /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
    left: 0;
    /* Establecemos la barra en la izquierda */
    top: 320px;
    /* Bajamos la barra 200px de arriba a abajo */
    z-index: 2000;
    /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}

.social ul {
    list-style: none;
}

.social ul li a {
    display: inline-block;
    color: #fff;
    background: #000;
    padding: 10px 15px;
    text-decoration: none;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    /* Establecemos una transición a todas las propiedades */
}

.social ul li .icon-facebook {
    background: #3b5998;
}


/* Establecemos los colores de cada red social, aprovechando su class */

.social ul li .icon-twitter {
    background: #00abf0;
}

.social ul li .icon-googleplus {
    background: #d95232;
}

.social ul li .icon-pinterest {
    background: #ae181f;
}

.social ul li .icon-mail {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
}

.social ul li a:hover {
    background: #000;
    /* Cambiamos el fondo cuando el usuario pase el mouse */
    padding: 10px 30px;
    /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
}

.icon-facebook {
    background-image: url("/img/facebookRed.png");
}


/*Fin btn redes sociales*/


/*PEN STYLES*/


/*PEN STYLES*/

* {
    box-sizing: border-box;
}

body {
    background: #f1f1f1;
    margin: 2rem;
}

.blog-card {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.6%;
    background: #fff;
    line-height: 1.4;
    font-family: sans-serif;
    border-radius: 5px;
    overflow: hidden;
    z-index: 0;
}

.blog-card a {
    color: inherit;
}

.blog-card a :hover {
    color: #5ad67d;
}

.blog-card :hover .photo {
    -webkit-transform: scale(1.3) rotate(3deg);
    transform: scale(1.3) rotate(3deg);
}

.blog-card .meta {
    position: relative;
    z-index: 0;
    height: 200px;
}

.blog-card .photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
}

.blog-card .details,
.blog-card .details ul {
    margin: auto;
    padding: 0;
    list-style: none;
}

.blog-card .details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    margin: auto;
    transition: left .2s;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 10px;
    width: 100%;
    font-size: .9rem;
}

.blog-card .details a {
    -webkit-text-decoration: dotted underline;
    text-decoration: dotted underline;
}

.blog-card .details ul li {
    display: inline-block;
}

.blog-card .details .author:before {
    font-family: FontAwesome;
    margin-right: 10px;
    content: "\f007";
}

.blog-card .details .date:before {
    font-family: FontAwesome;
    margin-right: 10px;
    content: "\f133";
}

.blog-card .details .tags ul:before {
    font-family: FontAwesome;
    content: "\f02b";
    margin-right: 10px;
}

.blog-card .details .tags li {
    margin-right: 2px;
}

.blog-card .details .tags li:first-child {
    margin-left: -4px;
}

.blog-card .description {
    padding: 1rem;
    background: #fff;
    position: relative;
    z-index: 1;
}

.blog-card .description h1,
.blog-card .description h2 {
    font-family: Poppins, sans-serif;
}

.blog-card .description h1 {
    margin-right: 40px !important;
    line-height: 1;
    margin: 0;
    font-size: 1.7rem;
}

.blog-card .description h2 {
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #a2a2a2;
    margin-top: 5px;
}

.blog-card .description .read-more {
    text-align: right;
}

.blog-card .description .read-more a {
    color: #5ad67d;
    display: inline-block;
    position: relative;
}

.blog-card .description .read-more a:after {
    content: "\f061";
    font-family: FontAwesome;
    margin-left: -10px;
    opacity: 0;
    vertical-align: middle;
    transition: margin .3s, opacity .3s;
}

.blog-card .description .read-more a:hover:after {
    margin-left: 5px;
    opacity: 1;
}

.blog-card p {
    position: relative;
    margin: 1rem 0 0;
}

.blog-card p:first-of-type {
    margin-top: 1.25rem;
}

.blog-card p:first-of-type:before {
    content: "";
    position: absolute;
    height: 5px;
    background: #5ad67d;
    width: 35px;
    top: -0.75rem;
    border-radius: 3px;
}

.blog-card:hover .details {
    left: 0%;
}

@media (min-width: 640px) {
    .blog-card {
        flex-direction: row;
        max-width: 700px;
    }
    .blog-card .meta {
        flex-basis: 40%;
        height: auto;
    }
    .blog-card .description {
        flex-basis: 60%;
    }
    .blog-card .description:before {
        -webkit-transform: skewX(-3deg);
        transform: skewX(-3deg);
        content: "";
        background: #fff;
        width: 30px;
        position: absolute;
        left: -10px;
        top: 0;
        bottom: 0;
        z-index: -1;
    }
    .blog-card.alt {
        flex-direction: row-reverse;
    }
    .blog-card.alt .description:before {
        left: inherit;
        right: -10px;
        -webkit-transform: skew(3deg);
        transform: skew(3deg);
    }
    .blog-card.alt .details {
        padding-left: 25px;
    }
}
