<html>
  <head>
    <title>Mi primera pagina web </title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Lato:100,400,700' rel='stylesheet' type='text/css'>
    <script src="../Js/javascript.js"></script>
    <link rel="stylesheet" href="../Css/css.css">

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

  </head>
  <body>     
    <nav class="navigation" id="mainNav">
        <ul>
            <li class="navigation-logo">
              <img id="logo-unad" src="../Img/logo_vertical.png" alt="">
            </li>
            <li><a class="navigation_link"  data-ref="#ddd"></a><br></li>
            <li><a class="navigation_link"  data-ref="#aaa">Crear y maquetar un sitio web.</a></li>
            <li><a class="navigation_link"  data-ref="#bbb">Agregar y utilizar JQuery y JavaScript </a></li>
            <li><a class="navigation_link"  data-ref="#ccc">Agregar y dar estilos a un sitio web</a></li>
          </ul>
    </nav>

    <div class="page-section hero" id="1">
        <h1>Bienvenidos al O.V.I.</h1>
        <h2>(Objeto Virtual de Información)</h2>
        <h3> Para el curso de Diseños de Sitios Web </h3>
        <p>
            En el cual encontrara información acerca de como maquetar y estructurar un sitio web desde cero,
            agregando estilos con <strong>CSS</strong> y <strong>CSS 3</strong>, funciones <strong>JAVASCRIPT</strong> y <strong>JQUERY</strong> para animaciones del sitio.
        </p>
    </div>

    <div class="page-section" id="aaa">
        <div class="accordion-container">
            <a href="#" class="accordion-titulo">1. Crear un sitio web<span class="toggle-icon"></span></a>
            <div class="accordion-content">
                Para empezar a crear un sitio web debemos:
                <br><br>
                1. Crear un archivo .html
                <br>
                2. Abrir nuestro archivo en cualquier editor de texto.
            </div>
          </div>
          <div class="accordion-container">
            <a href="#" class="accordion-titulo">2. Maquetar sitio web<span class="toggle-icon"></span></a>
            <div class="accordion-content">
                Despues de crear el archivo .html seguimos con el siguiente paso que es 
                maquetar el sitio web y para esto debemos agregar dentro del archivo antes creado las 
                siguientes etiquetas como se muestra en la imagen.
                <br><br>
                <a class="openModal" href="#ex1" rel="modal:open">Ver imagen</a>
            </div>
          </div>
          <div class="accordion-container">
              <a href="#" class="accordion-titulo">3. Ejecutar o probar sitio web<span class="toggle-icon"></span></a>
              <div class="accordion-content">
                  por ultimo debemos probar nuestro sitio creado , para probarlo solo debemos guardar
                  y abrilo en un navegado ( el de su preferencia)
              </div>
            </div>
    </div>

    <div class="page-section" id="bbb">
        <div id="accordion-section2">
            <h3>Section 1</h3>
            <div>
              <p>
              Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
              ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
              amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
              odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
              </p>
            </div>
            <h3>Section 2</h3>
            <div>
              <p>
              Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
              purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor
              velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In
              suscipit faucibus urna.
              </p>
            </div>
            <h3>Section 3</h3>
            <div>
              <p>
              Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.
              Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero
              ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis
              lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
              </p>
              <ul>
                <li>List item one</li>
                <li>List item two</li>
                <li>List item three</li>
              </ul>
            </div>
            <h3>Section 4</h3>
            <div>
              <p>
              Cras dictum. Pellentesque habitant morbi tristique senectus et netus
              et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in
              faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia
              mauris vel est.
              </p>
              <p>
              Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus.
              Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
              inceptos himenaeos.
              </p>
            </div>
        </div>
    </div>

    <div class="page-section" id="ccc">
        <div id="accordion-section3">
            <h3>Section 1</h3>
            <div>
              <p>
              Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
              ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
              amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
              odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
              </p>
            </div>
            <h3>Section 2</h3>
            <div>
              <p>
              Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
              purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor
              velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In
              suscipit faucibus urna.
              </p>
            </div>
            <h3>Section 3</h3>
            <div>
              <p>
              Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.
              Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero
              ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis
              lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
              </p>
              <ul>
                <li>List item one</li>
                <li>List item two</li>
                <li>List item three</li>
              </ul>
            </div>
            <h3>Section 4</h3>
            <div>
              <p>
              Cras dictum. Pellentesque habitant morbi tristique senectus et netus
              et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in
              faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia
              mauris vel est.
              </p>
              <p>
              Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus.
              Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
              inceptos himenaeos.
              </p>
            </div>
        </div>
    </div>

    
  </body>
  <footer>
    Este es el espacio para el footer
  </footer>
</html>

<div id="ex1" class="modal">
    <img src="../Img/Html-Inicial.PNG" alt="">
</div>
